<div class="footer">
  <div class="container">
    <div class="row">
      {% if site.footer.enable_menu_footer_primary %}
        <div class="col-12 col-md-4 col-lg-2 mb-gutter">
          {%  if site.footer.footer_primary_menu_title %}
            <div class="footer-heading">{{ site.footer.footer_primary_menu_title }}</div>
          {% endif %}
          {% include menu/menu-footer.html 
            menu=site.data.menu.footer_primary
          %}
        </div>
      {% endif %}
      {% if site.footer.enable_menu_footer_secondary %}
        <div class="col-12 col-md-4 col-lg-2 mb-gutter">
          {%  if site.footer.footer_secondary_menu_title %}
            <div class="footer-heading">{{ site.footer.footer_secondary_menu_title }}</div>
          {% endif %}
          {% include menu/menu-footer.html 
            menu=site.data.menu.footer_secondary
          %}
        </div>
      {% endif %}
      {% if site.footer.enable_menu_footer_tertiary  %}
        <div class="col-12 col-md-4 col-lg-2 mb-gutter">
          {%  if site.footer.footer_tertiary_menu_title %}
            <div class="footer-heading">{{ site.footer.footer_tertiary_menu_title }}</div>
          {% endif %}
          {% include menu/menu-footer.html 
            menu=site.data.menu.footer_tertiary
          %}
        </div>
      {% endif %}
      {% if site.footer.enable_contact_details %}
        <div class="col-12 col-md-12 col-lg-5 offset-lg-1 mb-gutter-half">
          <div class="footer-heading">{{ site.footer.contact_details_heading | default: "Contact"}}</div>
          {% include blocks/contact.html %}
        </div>
      {% endif %}
    </div>
    {% if site.footer.enable_social_media_icons and site.data.social %}
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          {% include blocks/social.html %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="bottom">
  <div class="container relative">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        {% if site.footer.enable_bottom_menu %}
          {% include menu/menu-bottom.html %}
        {% endif %}
        {% if site.footer.enable_copyright %}
          <div class="copyright">{{ site.footer.copyright }}.</div>
        {% endif %}
      </div>
      <div class="col-auto">
        {% if site.enable_dark_mode != false %}
          {% include blocks/dark-mode-switcher.html %}
        {% endif %}
      </div>
    </div>
  </div>
</div>