<div class="bottom">
  <div class="container relative">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        {% if site.footer.enable_bottom_menu %}
          {% include menu/menu-bottom.html %}
        {% endif %}
        {% if site.footer.enable_copyright %}
          <div class="copyright">{{ site.footer.copyright }}.</div>
        {% endif %}
      </div>
      <div class="col-auto">
        {% if site.enable_dark_mode != false %}
          {% include blocks/dark-mode-switcher.html %}
        {% endif %}
      </div>
    </div>
  </div>
</div>