<form action="/contact/success" data-netlify="true" method="POST" name="contact">
  <div class="row">
    <div class="col-12 mb-2">
      <h2>Send An Enquiry</h2>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" name="name" placeholder="Name *" type="text" value="" required/>
      </div>
      <div class="form-group">
        <input class="form-control" name="email" placeholder="Email *" type="email" value="" required/>
      </div>
      <div class="form-group">
        <input class="form-control" name="phone" placeholder="Phone Number" type="text" value=""/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control" name="message" placeholder="Message" style="width: 100%; height: 150px;"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="btn btn-primary" name="submit" type="submit" value="Send Enquiry"/>
      </div>
    </div>
  </div>
</form>