{% assign hero = include or page.hero %} {% assign heading = hero.heading %} {%
assign sub_heading = hero.sub_heading %} {% assign text_color = hero.text_color
%} {% assign divider = hero.divider %} {% assign background_image =
hero.background_image %} {% assign background_image_blend_mode =
hero.background_image_blend_mode %} {% assign background_color =
hero.background_color %} {% assign background_gradient =
hero.background_gradient %} {% assign fullscreen_desktop =
hero.fullscreen_desktop %} {% assign fullscreen_mobile = hero.fullscreen_mobile
%} {% assign buttons = hero.buttons %} {% assign height = hero.height %} {%
capture bg_image %} {% if background_image and background_image != ""
%}background-image: url('{{ background_image | absolute_url }}');{% endif %} {%
if background_image_blend_mode and background_image != "" %}mix-blend-mode: {{
background_image_blend_mode }};{% endif %} {% endcapture %} {% capture bg_color
%} {% if background_color and background_color != "" %}background-color: {{
background_color }};{% endif %} {% endcapture %} {% capture gradient %} {% if
background_gradient %}hero-gradient{% endif %} {% endcapture %} {% capture
fullscreen %} {% if fullscreen_desktop %}hero-fullscreen-desktop{% endif %} {%
if fullscreen_mobile %}hero-fullscreen-mobile{% endif %} {% endcapture %} {%
capture bg_height %} {% if height %}height: {{ height }};{% endif %} {%
endcapture %}

<div
  id="mainImgHero"
  class="strip hero {{ fullscreen }} {{ gradient }}"
  style="{{ bg_color }} {{ bg_height }}"
>
  <div class="hero-background-image" style="{{ bg_image }}"></div>
  {% if divider %}{% include blocks/divider.html %}{% endif %}
  <div
    id="mainImgHeroContainer"
    class="container {% if divider %}pb-10{% endif %}"
  >
    <div id="mainImgHeroTextCover" class="row align-items-center">
      <div class="col-12 col-lg-12">
        <div
          id="mainImgHeroText"
          class="hero-text"
          style="{% if text_color %}color: {{ text_color }};{% endif %}; display:flex; flex-direction: column;"
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-wrap: wrap;
            "
          >
            {% if heading %}
            <h1 style="text-align: center">{{ heading }}</h1>
            {% endif %}{% if sub_heading %}
            <p class="large2">{{ sub_heading }}</p>
            {% endif %}
          </div>
          {% if buttons.enabled and buttons.list.size > 0 %}
          <div class="hero-buttons">
            {% for button in buttons.list %} {% include blocks/button.html
            text=button.text url=button.url external=button.external
            size=button.size outline=button.outline style=button.style
            fa_icon=button.fa_icon %} {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% if image %}
      <div class="col-12 col-lg-6">
        <div class="hero-image">
          <img src="{{ image | relative_url }}" />
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
