<div class="logos">
  <div class="logo">
    <a href="{{ site.baseurl }}">
      <img height="{{ site.logo.logo_desktop_height }}" width="{{ site.logo.logo_desktop_width }}" alt="{{ site.title }} Logo" src="{{ site.logo.logo | relative_url }}"/>
    </a>
  </div>
  <div class="logo-invert">
    <a href="{{ site.baseurl }}">
      <img height="{{ site.logo.logo_desktop_height }}" width="{{ site.logo.logo_desktop_width }}" alt="{{ site.title }} Logo" src="{{ site.logo.logo_invert | relative_url }}"/>
    </a>
  </div>
  <div class="logo-mobile">
    <a href="{{ site.baseurl }}">
      <img height="{{ site.logo.logo_mobile_height }}" width="{{ site.logo.logo_mobile_width }}" alt="{{ site.title }} Logo" src="{{ site.logo.logo_mobile | relative_url }}"/>
    </a>
  </div>
  <div class="logo-invert-mobile">
    <a href="{{ site.baseurl }}">
      <img height="{{ site.logo.logo_mobile_height }}" width="{{ site.logo.logo_mobile_width }}" alt="{{ site.title }} Logo" src="{{ site.logo.logo_invert_mobile | relative_url }}"/>
    </a>
  </div>
</div>
