---
layout: default
body_classes: page-category
---

<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1>{{ page.title }}
        </h1>
        <h2>{{ page.description }}</h2>
      </div>
      {% if page.image %}
        <div class="col-12 col-lg-12">
          <img class="img-fluid" src={{ page.image | relative_url }}/>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip strip-base">
  <div class="container">
    {% assign category = page.title %}
    {% for post in site.categories[category] %}
      <div class="row">
        <div class="col-12 col-md-8 mb-2">
          {% include cards/card.html 
            title=post.title
            date=post.date
            description=post.description 
            thumbnail=post.thumbnail 
            url=post.url 
            authors=post.authors
            categories=post.categories
            style="row"
          %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
