<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include seo/meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="{{ site.fonts.google_fonts }}" rel="stylesheet">

    <script>
        localStorage.getItem('darkMode') === 'true' && document.documentElement.setAttribute('data-mode', 'dark');
    </script>

  </head>
<body class="page {% if page.body_classes %}{{ page.body_classes }}{% elsif layout.body_classes %}{{ layout.body_classes }}{% endif %}">

{% include menu/menu-main-mobile.html %}
<div id="header" class='header {% if site.enable_fixed_header %}header-fixed{% endif %} {% if page.header_transparent %}header-transparent{% endif %}  {{ page.header_classes }}'>
  {% include header/header.html %}
</div>
<div id="wrapper" class="wrapper">     
  {{ content }}
</div>
{% include footer/footer.html %}

<script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/header.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/darkModeSwitch.js' | relative_url }}"></script>

{% include seo/google-analytics.html %}

</body>
</html>